aiohttp==2.0.5
aioredis==0.3.0
appdirs==1.4.3
appnope==0.1.0
async-timeout==1.2.0
chardet==2.3.0
decorator==4.0.11
hiredis==0.2.0
ipython==6.0.0
ipython-genutils==0.2.0
jedi==0.10.2
Jinja2==2.9.6
jsonschema==2.6.0
MarkupSafe==1.0
multidict==2.1.4
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
protobuf==3.2.0
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.2.0
-e git+git@github.com:nweinthal/gomonkey.git@33747d5e36ba11df6995d3e0fd78bc3f26152b28#egg=python_redis_pubsub&subdirectory=backend/common
PyYAML==3.12
redis==2.10.5
simplegeneric==0.8.1
six==1.10.0
swagger-parser==0.1.11
swagger-spec-validator==2.1.0
traitlets==4.3.2
wcwidth==0.1.7
yarl==0.10.0
